body {
  font-family: Arial;
  background-color: #f2f2f2;
}

#messages {
  list-style: none;
  padding: 0;
}

#messages li {
  background: lightgray;
  padding: 10px;
  margin: 5px;
}

form {
  position: fixed;
  bottom: 0;
  width: 100%;
}